body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:869px;
}
#u21844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:869px;
}
#u21844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:873px;
}
#u21845 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:375px;
  height:873px;
}
#u21845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:876px;
}
#u21846 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:375px;
  height:876px;
}
#u21846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:858px;
}
#u21847 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:0px;
  width:375px;
  height:858px;
}
#u21847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
