body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u11618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1200px;
  height:710px;
  text-align:left;
}
#u11618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:563px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11619 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:1100px;
  height:563px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11620 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:58px;
  width:1100px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1096px;
  word-wrap:break-word;
}
#u11621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11621 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:127px;
  width:987px;
  height:140px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  word-wrap:break-word;
}
#u11622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 247, 249, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#3BB19C;
}
#u11622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#3BB19C;
}
#u11622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 247, 249, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u11623 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:0px;
  width:65px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u11623_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 247, 249, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u11623.mouseOver {
}
#u11623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u11624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 247, 249, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u11624 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:0px;
  width:20px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u11624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  word-wrap:break-word;
}
#u11625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 247, 249, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#C73C27;
  text-align:center;
}
#u11625 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#C73C27;
  text-align:center;
}
#u11625_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 247, 249, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#C73C27;
  text-align:center;
}
#u11625.mouseOver {
}
#u11625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u11626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11626 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:15px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u11626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11627 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:230px;
  width:50px;
  height:30px;
  overflow:hidden;
  visibility:hidden;
}
#u11627_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11627_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11629 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:300px;
  height:170px;
}
#u11629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u11630 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:260px;
  width:170px;
  height:170px;
}
#u11630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11627_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11627_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:85px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u11627_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11627_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u11627_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11627_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11633 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:110px;
  width:560px;
  height:188px;
}
#u11633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u11634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0099FF;
}
#u11634 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:170px;
  width:363px;
  height:24px;
  font-size:18px;
  color:#0099FF;
}
#u11634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u11635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:222px;
}
#u11635 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:308px;
  width:221px;
  height:222px;
}
#u11635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u11636 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:396px;
  width:217px;
  height:48px;
  font-size:18px;
  color:#FF0000;
}
#u11636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u11637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  -webkit-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u11637 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:342px;
  width:18px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u11637_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  -webkit-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u11637.mouseOver {
}
#u11637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u11638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  -webkit-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u11638 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:402px;
  width:18px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u11638_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  -webkit-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u11638.mouseOver {
}
#u11638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u11639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  -webkit-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u11639 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:342px;
  width:18px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u11639_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  -webkit-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u11639.mouseOver {
}
#u11639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
