body {
  margin:0px;
  background-color:rgba(52, 73, 94, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u4343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:600px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u4343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u4346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u4346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u4348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4348_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:20px;
  width:1148px;
  word-wrap:break-word;
}
#u4349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:100px;
}
#u4349 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:30px;
  width:169px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4349_img.mouseOver {
}
#u4349.mouseOver {
  opacity:0.8;
}
#u4349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  word-wrap:break-word;
}
#u4350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:100px;
}
#u4350 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:30px;
  width:129px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
}
#u4350_img.mouseOver {
}
#u4350.mouseOver {
  opacity:0.8;
}
#u4350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:125px;
  word-wrap:break-word;
}
#u4351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4351 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:84px;
  width:1100px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  word-wrap:break-word;
}
#u4352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(230, 250, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 245, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4353 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:297px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4353_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u4354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4354 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:297px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CC66;
  text-align:center;
}
#u4354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u4355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4356 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:353px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4356_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u4357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4357 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:353px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
  text-align:center;
}
#u4357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u4358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 238, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 221, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4359 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:410px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4359_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u4360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4360 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:410px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF5918;
  text-align:center;
}
#u4360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u4361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(235, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 235, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4362 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:240px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4362_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u4363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4363 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:240px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
  text-align:center;
}
#u4363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u4364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(230, 250, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 245, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4364 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:297px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4364_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u4365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(235, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 235, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4365 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:240px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4365_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u4366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4366 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:353px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4366_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u4367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 238, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 221, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4367 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:410px;
  width:260px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4367_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
