body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:335px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:212px;
  width:280px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:213px;
  width:229px;
  height:48px;
}
#u2825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:227px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u2826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#1ABC9C;
  line-height:24px;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:55px;
  width:335px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#1ABC9C;
  line-height:24px;
}
#u2827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:335px;
  word-wrap:break-word;
}
#u2828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:163px;
  width:280px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
  line-height:20px;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:376px;
  width:335px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
  line-height:20px;
}
#u2829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u2830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:right;
  line-height:20px;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:261px;
  width:287px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:right;
  line-height:20px;
}
#u2830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:287px;
  word-wrap:break-word;
}
#u2831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:426px;
  width:335px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u2831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u2832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:2px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:451px;
  width:113px;
  height:1px;
}
#u2832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:2px;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:451px;
  width:114px;
  height:1px;
}
#u2833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:486px;
  width:280px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2834_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2834.mouseDown {
}
#u2834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u2835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:536px;
  width:280px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2835_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2835.mouseDown {
}
#u2835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u2836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:496px;
  width:26px;
  height:22px;
}
#u2836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:540px;
  width:26px;
  height:26px;
}
#u2837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:227px;
  width:20px;
  height:20px;
  opacity:0.3;
}
#u2838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:178px;
  width:20px;
  height:20px;
  opacity:0.3;
}
#u2839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:9px;
  width:30px;
  height:30px;
}
#u2840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:168px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:321px;
  width:280px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2841_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:168px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2841.mouseDown {
}
#u2841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u2842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:334px;
  width:20px;
  height:20px;
}
#u2842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2843 {
  position:absolute;
  left:268px;
  top:226px;
}
#u2843_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:none;
}
#u2843_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2844 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2844_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:none;
}
#u2844_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u2845_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u2845.selected {
}
#u2845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u2844_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u2844_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2846_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:48px;
  word-wrap:break-word;
}
#u2847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:20px;
  height:20px;
}
#u2847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:164px;
  width:229px;
  height:48px;
}
#u2849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:178px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u2850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2851 {
  position:fixed;
  left:50%;
  margin-left:-100px;
  top:50%;
  margin-top:-25.5px;
  visibility:hidden;
}
#u2851_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
  background-image:none;
}
#u2851_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2852_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:210px;
  height:61px;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2852_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u2851_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:218px;
  height:51px;
  visibility:hidden;
  background-image:none;
}
#u2851_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2853_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:228px;
  height:61px;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2853_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u2851_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:187px;
  height:51px;
  visibility:hidden;
  background-image:none;
}
#u2851_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:197px;
  height:61px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2854_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u2851_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u2851_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2856_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:150px;
  height:110px;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u2856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u2857_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u2858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:11px;
  width:50px;
  height:50px;
}
#u2858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
