body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20657 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  bottom:0px;
}
#u20657_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:58px;
  background-image:none;
}
#u20657_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:58px;
  background:inherit;
  background-color:rgba(222, 222, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:58px;
  color:#999999;
}
#u20658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1916px;
  word-wrap:break-word;
}
#u20659 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
}
#u20659_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:130px;
  background-image:none;
}
#u20659_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(222, 222, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1920px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:10px;
}
#u20662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1920px;
  height:10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:17px;
}
#u20663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:1920px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u20664 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:10px;
  width:134px;
  height:30px;
}
#u20664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
  text-align:right;
}
#u20665 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:16px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#797979;
  text-align:right;
}
#u20665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u20666 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:16px;
  width:48px;
  height:21px;
  font-size:16px;
  text-align:center;
}
#u20666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u20667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u20667 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:80px;
  width:1200px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u20667_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u20667.mouseOver {
}
#u20667_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(199, 60, 39, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u20667.selected {
}
#u20667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  word-wrap:break-word;
}
#u20668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1076px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:1200px;
  height:1076px;
}
#u20668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:137px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20669 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:235px;
  width:1080px;
  height:137px;
}
#u20669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:2px;
}
#u20670 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:292px;
  width:1080px;
  height:1px;
}
#u20670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20671 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:252px;
  width:25px;
  height:25px;
}
#u20671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u20672 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:251px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u20672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20673 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:303px;
  width:1019px;
  height:40px;
}
#u20673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  word-wrap:break-word;
}
#u20675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20676 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:393px;
  width:356px;
  height:60px;
}
#u20676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20677 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:417px;
  width:12px;
  height:12px;
}
#u20677_img.selected {
}
#u20677.selected {
}
#u20677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20678 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:417px;
  width:12px;
  height:12px;
}
#u20678_img.selected {
}
#u20678.selected {
}
#u20678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20679 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:417px;
  width:12px;
  height:12px;
}
#u20679_img.selected {
}
#u20679.selected {
}
#u20679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20680 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:417px;
  width:12px;
  height:12px;
}
#u20680_img.selected {
}
#u20680.selected {
}
#u20680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20681 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:417px;
  width:12px;
  height:12px;
}
#u20681_img.selected {
}
#u20681.selected {
}
#u20681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20683 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:473px;
  width:356px;
  height:60px;
}
#u20683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20684 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:497px;
  width:12px;
  height:12px;
}
#u20684_img.selected {
}
#u20684.selected {
}
#u20684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20685 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:497px;
  width:12px;
  height:12px;
}
#u20685_img.selected {
}
#u20685.selected {
}
#u20685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20686 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:497px;
  width:12px;
  height:12px;
}
#u20686_img.selected {
}
#u20686.selected {
}
#u20686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20687 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:497px;
  width:12px;
  height:12px;
}
#u20687_img.selected {
}
#u20687.selected {
}
#u20687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20688 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:497px;
  width:12px;
  height:12px;
}
#u20688_img.selected {
}
#u20688.selected {
}
#u20688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20690 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:553px;
  width:356px;
  height:60px;
}
#u20690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20691 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:577px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20691_img.selected {
}
#u20691.selected {
}
#u20691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20692 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:577px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20692_img.selected {
}
#u20692.selected {
}
#u20692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20693 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:577px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20693_img.selected {
}
#u20693.selected {
}
#u20693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20694 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:577px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20694_img.selected {
}
#u20694.selected {
}
#u20694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20695 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:577px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20695_img.selected {
}
#u20695.selected {
}
#u20695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20697 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:633px;
  width:356px;
  height:60px;
}
#u20697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20698 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:650px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20698_img.selected {
}
#u20698.selected {
}
#u20698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20699 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:650px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20699_img.selected {
}
#u20699.selected {
}
#u20699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20700 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:650px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20700_img.selected {
}
#u20700.selected {
}
#u20700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20701 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:650px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20701_img.selected {
}
#u20701.selected {
}
#u20701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20702 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:650px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20702_img.selected {
}
#u20702.selected {
}
#u20702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20704 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:713px;
  width:60px;
  height:270px;
}
#u20704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20705 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:791px;
  width:12px;
  height:12px;
}
#u20705_img.selected {
}
#u20705.selected {
}
#u20705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20706 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:817px;
  width:12px;
  height:12px;
}
#u20706_img.selected {
}
#u20706.selected {
}
#u20706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20707 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:842px;
  width:12px;
  height:12px;
}
#u20707_img.selected {
}
#u20707.selected {
}
#u20707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20708 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:868px;
  width:12px;
  height:12px;
}
#u20708_img.selected {
}
#u20708.selected {
}
#u20708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20709 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:893px;
  width:12px;
  height:12px;
}
#u20709_img.selected {
}
#u20709.selected {
}
#u20709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20711 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:713px;
  width:60px;
  height:270px;
}
#u20711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20712 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:791px;
  width:12px;
  height:12px;
}
#u20712_img.selected {
}
#u20712.selected {
}
#u20712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20713 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:817px;
  width:12px;
  height:12px;
}
#u20713_img.selected {
}
#u20713.selected {
}
#u20713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20714 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:842px;
  width:12px;
  height:12px;
}
#u20714_img.selected {
}
#u20714.selected {
}
#u20714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20715 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:868px;
  width:12px;
  height:12px;
}
#u20715_img.selected {
}
#u20715.selected {
}
#u20715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20716 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:893px;
  width:12px;
  height:12px;
}
#u20716_img.selected {
}
#u20716.selected {
}
#u20716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20718 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:713px;
  width:60px;
  height:270px;
}
#u20718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20719 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:768px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20719_img.selected {
}
#u20719.selected {
}
#u20719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20720 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:802px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20720_img.selected {
}
#u20720.selected {
}
#u20720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20721 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:836px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20721_img.selected {
}
#u20721.selected {
}
#u20721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20722 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:869px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20722_img.selected {
}
#u20722.selected {
}
#u20722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20723 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:903px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u20723_img.selected {
}
#u20723.selected {
}
#u20723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20725 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:713px;
  width:60px;
  height:270px;
}
#u20725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20726 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:768px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20726_img.selected {
}
#u20726.selected {
}
#u20726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20727 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:802px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20727_img.selected {
}
#u20727.selected {
}
#u20727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20728 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:836px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20728_img.selected {
}
#u20728.selected {
}
#u20728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20729 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:869px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20729_img.selected {
}
#u20729.selected {
}
#u20729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20730 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:903px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20730_img.selected {
}
#u20730.selected {
}
#u20730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:705px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20732 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:393px;
  width:60px;
  height:705px;
}
#u20732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20733 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:448px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20733_img.selected {
}
#u20733.selected {
}
#u20733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20734 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:474px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20734_img.selected {
}
#u20734.selected {
}
#u20734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20735 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:501px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20735_img.selected {
}
#u20735.selected {
}
#u20735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20736 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:527px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20736_img.selected {
}
#u20736.selected {
}
#u20736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20737 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:554px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20737_img.selected {
}
#u20737.selected {
}
#u20737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20738 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:580px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20738_img.selected {
}
#u20738.selected {
}
#u20738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20739 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:607px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20739_img.selected {
}
#u20739.selected {
}
#u20739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20740 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:633px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20740_img.selected {
}
#u20740.selected {
}
#u20740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20741 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:660px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20741_img.selected {
}
#u20741.selected {
}
#u20741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20742 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:686px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20742_img.selected {
}
#u20742.selected {
}
#u20742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20743 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:713px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20743_img.selected {
}
#u20743.selected {
}
#u20743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20744 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:739px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20744_img.selected {
}
#u20744.selected {
}
#u20744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20745 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:766px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20745_img.selected {
}
#u20745.selected {
}
#u20745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20746 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:792px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20746_img.selected {
}
#u20746.selected {
}
#u20746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20747 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:819px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20747_img.selected {
}
#u20747.selected {
}
#u20747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20748 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:845px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20748_img.selected {
}
#u20748.selected {
}
#u20748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20749 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:872px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20749_img.selected {
}
#u20749.selected {
}
#u20749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20750 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:898px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20750_img.selected {
}
#u20750.selected {
}
#u20750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20751 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:925px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20751_img.selected {
}
#u20751.selected {
}
#u20751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20752 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:951px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20752_img.selected {
}
#u20752.selected {
}
#u20752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20753 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:978px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20753_img.selected {
}
#u20753.selected {
}
#u20753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20754 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:1004px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20754_img.selected {
}
#u20754.selected {
}
#u20754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20755 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20755_img.selected {
}
#u20755.selected {
}
#u20755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20756 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:1057px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20756_img.selected {
}
#u20756.selected {
}
#u20756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20757 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:424px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20757_img.selected {
}
#u20757.selected {
}
#u20757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20759 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1008px;
  width:356px;
  height:60px;
}
#u20759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20760 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20760_img.selected {
}
#u20760.selected {
}
#u20760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20761 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20761_img.selected {
}
#u20761.selected {
}
#u20761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20762 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20762_img.selected {
}
#u20762.selected {
}
#u20762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20763 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20763_img.selected {
}
#u20763.selected {
}
#u20763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20764 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20764_img.selected {
}
#u20764.selected {
}
#u20764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20765 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20765_img.selected {
}
#u20765.selected {
}
#u20765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20766 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20766_img.selected {
}
#u20766.selected {
}
#u20766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20767 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20767_img.selected {
}
#u20767.selected {
}
#u20767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20768 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20768_img.selected {
}
#u20768.selected {
}
#u20768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20769 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20769_img.selected {
}
#u20769.selected {
}
#u20769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20770 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20770_img.selected {
}
#u20770.selected {
}
#u20770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20771 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20771_img.selected {
}
#u20771.selected {
}
#u20771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20772 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:1031px;
  width:20px;
  height:20px;
  color:#999999;
}
#u20772_img.selected {
}
#u20772.selected {
}
#u20772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
