body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1694px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1694px;
  height:990px;
}
#u3281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1694px;
  height:990px;
}
#u3281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3282 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:612px;
  width:200px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
