body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1571px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:872px;
}
#u21850 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:-3px;
  width:376px;
  height:872px;
}
#u21850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:865px;
}
#u21851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:865px;
}
#u21851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:399px;
}
#u21852 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:450px;
  height:399px;
}
#u21852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:344px;
}
#u21853 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:416px;
  width:392px;
  height:344px;
}
#u21853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:312px;
}
#u21854 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:760px;
  width:388px;
  height:312px;
}
#u21854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:309px;
}
#u21855 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:869px;
  width:376px;
  height:309px;
}
#u21855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:312px;
}
#u21856 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:520px;
  width:377px;
  height:312px;
}
#u21856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:313px;
}
#u21857 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:850px;
  width:381px;
  height:313px;
}
#u21857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
