.ax_default {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
._次按钮（动作列表） {
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
._退出按钮（动作列表） {
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3300;
  text-align:center;
}
.box_2 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.placeholder {
}
.button {
}
.ellipse {
}
._图片 {
}
.placeholder1 {
}
._一级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._鼠标悬停文本链接时 {
}
._流程形状 {
}
.line {
}
.table_cell {
}
.marker {
  color:#FFFFFF;
}
._连接线 {
}
.snapshot {
}
.box_11 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.label1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
.image {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.line1 {
}
.radio_button {
  color:#999999;
  text-align:left;
}
.checkbox {
  color:#999999;
  text-align:left;
}
._形状 {
}
._表格 {
}
._形状1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
._水平线 {
}
._垂直线 {
}
.icon {
}
._文本链接 {
  color:#0000FF;
}
._鼠标按下文本链接时 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
._形状2 {
  font-size:13px;
  color:#000000;
}
._文本段落1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.text_area1 {
  color:#000000;
  text-align:left;
}
.box_3 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
.basicbutton {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.paragraph {
  text-align:left;
}
.shape {
}
.connector {
}
.image1 {
  color:#000000;
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.ellipse1 {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
.box_21 {
}
.horizontal_line {
}
._文本段落2 {
  text-align:left;
}
._一级标题1 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._图片1 {
  color:#000000;
}
._默认样式 {
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
