body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:940px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:940px;
  height:471px;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u2442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:0px;
  width:39px;
  height:44px;
  font-size:12px;
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  word-wrap:break-word;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:44px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:139px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:0px;
  width:145px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:44px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:0px;
  width:469px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u2446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:44px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:0px;
  width:114px;
  height:44px;
  font-size:12px;
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:34px;
  height:44px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:44px;
  width:39px;
  height:44px;
  font-size:12px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  word-wrap:break-word;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:44px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:44px;
  width:139px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:44px;
  width:145px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:44px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:44px;
  width:469px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:44px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:44px;
  width:114px;
  height:44px;
  font-size:12px;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:55px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:34px;
  height:55px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:30px;
  word-wrap:break-word;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:55px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:88px;
  width:39px;
  height:55px;
  font-size:12px;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:35px;
  word-wrap:break-word;
}
#u2455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:55px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:88px;
  width:139px;
  height:55px;
  font-size:12px;
  text-align:left;
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:135px;
  word-wrap:break-word;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:55px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:88px;
  width:145px;
  height:55px;
  font-size:12px;
  text-align:left;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u2457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:55px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:88px;
  width:469px;
  height:55px;
  font-size:12px;
  text-align:left;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:465px;
  word-wrap:break-word;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:55px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:88px;
  width:114px;
  height:55px;
  font-size:12px;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u2459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:143px;
  width:34px;
  height:44px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:143px;
  width:39px;
  height:44px;
  font-size:12px;
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  word-wrap:break-word;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:44px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:143px;
  width:139px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:143px;
  width:145px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:44px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:143px;
  width:469px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:465px;
  word-wrap:break-word;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:44px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:143px;
  width:114px;
  height:44px;
  font-size:12px;
}
#u2464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:34px;
  height:44px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:187px;
  width:39px;
  height:44px;
  font-size:12px;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  word-wrap:break-word;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:44px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:187px;
  width:139px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:187px;
  width:145px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:44px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:187px;
  width:469px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u2470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:44px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:187px;
  width:114px;
  height:44px;
  font-size:12px;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u2471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:231px;
  width:34px;
  height:44px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:231px;
  width:39px;
  height:44px;
  font-size:12px;
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  word-wrap:break-word;
}
#u2473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:44px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:231px;
  width:139px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:231px;
  width:145px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:44px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:231px;
  width:469px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:44px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:231px;
  width:114px;
  height:44px;
  font-size:12px;
}
#u2476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u2477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:34px;
  height:44px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:275px;
  width:39px;
  height:44px;
}
#u2478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u2479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:44px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:275px;
  width:139px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:275px;
  width:145px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:44px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:275px;
  width:469px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:44px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:275px;
  width:114px;
  height:44px;
  font-size:12px;
}
#u2482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u2483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:319px;
  width:34px;
  height:44px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u2484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:319px;
  width:39px;
  height:44px;
}
#u2484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:44px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:319px;
  width:139px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:319px;
  width:145px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:44px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:319px;
  width:469px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u2488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:44px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:319px;
  width:114px;
  height:44px;
  font-size:12px;
}
#u2488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:64px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:363px;
  width:34px;
  height:64px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:30px;
  word-wrap:break-word;
}
#u2490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:64px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:363px;
  width:39px;
  height:64px;
}
#u2490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:35px;
  word-wrap:break-word;
}
#u2491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:64px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:363px;
  width:139px;
  height:64px;
  font-size:12px;
  text-align:left;
}
#u2491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:135px;
  word-wrap:break-word;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:64px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:363px;
  width:145px;
  height:64px;
  font-size:12px;
  text-align:left;
}
#u2492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:141px;
  word-wrap:break-word;
}
#u2493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:64px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:363px;
  width:469px;
  height:64px;
  font-size:12px;
  text-align:left;
}
#u2493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:465px;
  word-wrap:break-word;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:64px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:363px;
  width:114px;
  height:64px;
  font-size:12px;
}
#u2494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:110px;
  word-wrap:break-word;
}
#u2495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:427px;
  width:34px;
  height:44px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u2496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:427px;
  width:39px;
  height:44px;
}
#u2496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u2497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:44px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:427px;
  width:139px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:427px;
  width:145px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:44px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:427px;
  width:469px;
  height:44px;
  font-size:12px;
  text-align:left;
}
#u2499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:44px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:427px;
  width:114px;
  height:44px;
  font-size:12px;
}
#u2500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u2501 {
  position:fixed;
  left:50%;
  margin-left:-470px;
  top:0px;
}
#u2501_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:940px;
  height:32px;
  background-image:none;
}
#u2501_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:32px;
}
#u2503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:0px;
  width:39px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  word-wrap:break-word;
}
#u2505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:139px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u2506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:0px;
  width:145px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u2507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:32px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:0px;
  width:468px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:464px;
  word-wrap:break-word;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:0px;
  width:115px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(7, 154, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:510px;
  width:82px;
  height:30px;
  color:#FFFFFF;
}
#u2511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(7, 154, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:510px;
  width:82px;
  height:30px;
  color:#FFFFFF;
}
#u2512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u2513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(7, 154, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:510px;
  width:82px;
  height:30px;
  color:#FFFFFF;
}
#u2513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u2514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(7, 154, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:510px;
  width:82px;
  height:30px;
  color:#FFFFFF;
}
#u2514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u2515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:515px;
  width:37px;
  height:20px;
  color:#333333;
}
#u2515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:515px;
  width:37px;
  height:20px;
  color:#333333;
}
#u2516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
