body {
  margin:0px;
  background-color:rgba(52, 73, 94, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:600px;
}
#u5249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u5252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u5256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5256_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:20px;
  width:1148px;
  word-wrap:break-word;
}
#u5257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:100px;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:30px;
  width:169px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5257_img.mouseOver {
}
#u5257.mouseOver {
  opacity:0.8;
}
#u5257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  word-wrap:break-word;
}
#u5258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:100px;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:30px;
  width:129px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
}
#u5258_img.mouseOver {
}
#u5258.mouseOver {
  opacity:0.8;
}
#u5258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:125px;
  word-wrap:break-word;
}
#u5259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:85px;
  width:1100px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  word-wrap:break-word;
}
#u5260 {
  position:absolute;
  left:398px;
  top:200px;
}
#u5260_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background-image:none;
}
#u5260_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5261_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:19px;
  width:40px;
  height:40px;
}
#u5262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u5260_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5263_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u5264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5265 {
  position:absolute;
  left:643px;
  top:200px;
}
#u5265_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background-image:none;
}
#u5265_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5266_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:19px;
  width:40px;
  height:40px;
}
#u5267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5265_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u5265_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5268_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5269 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u5269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5270 {
  position:absolute;
  left:153px;
  top:200px;
}
#u5270_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background-image:none;
}
#u5270_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5271_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5272 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:19px;
  width:40px;
  height:40px;
}
#u5272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5270_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u5270_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5273_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5274 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u5274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5275 {
  position:absolute;
  left:888px;
  top:200px;
}
#u5275_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background-image:none;
}
#u5275_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5276_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5277 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:19px;
  width:40px;
  height:40px;
}
#u5277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5275_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u5275_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5278_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5279 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u5279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5280 {
  position:absolute;
  left:398px;
  top:385px;
}
#u5280_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background-image:none;
}
#u5280_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5281_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5282 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-7px;
  width:80px;
  height:80px;
}
#u5282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5280_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u5280_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5283_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u5284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5285 {
  position:absolute;
  left:643px;
  top:385px;
}
#u5285_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background-image:none;
}
#u5285_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5286_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:10px;
  width:60px;
  height:60px;
}
#u5287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5285_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u5285_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5288_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u5289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290 {
  position:absolute;
  left:153px;
  top:385px;
}
#u5290_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background-image:none;
}
#u5290_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5291_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:150px;
  word-wrap:break-word;
}
#u5292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:18px;
  width:40px;
  height:40px;
}
#u5292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u5290_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5293_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u5294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5295 {
  position:absolute;
  left:888px;
  top:385px;
}
#u5295_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background-image:none;
}
#u5295_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5296_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:12px;
  width:50px;
  height:50px;
}
#u5297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5295_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u5295_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5298_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  word-wrap:break-word;
}
#u5299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u5299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:300px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u5301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:300px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u5302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:300px;
  width:149px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:149px;
  word-wrap:break-word;
}
#u5303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:300px;
  width:146px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u5304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:485px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u5305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:485px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u5306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:485px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
#u5307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:485px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:150px;
  word-wrap:break-word;
}
