body {
  margin:0px;
  background-color:rgba(52, 73, 94, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u3177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:600px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u3177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u3180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u3180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u3182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3182_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:20px;
  width:1148px;
  word-wrap:break-word;
}
#u3183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:100px;
}
#u3183 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:30px;
  width:169px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u3183_img.mouseOver {
}
#u3183.mouseOver {
  opacity:0.8;
}
#u3183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  word-wrap:break-word;
}
#u3184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:100px;
}
#u3184 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:30px;
  width:129px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
}
#u3184_img.mouseOver {
}
#u3184.mouseOver {
  opacity:0.8;
}
#u3184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:125px;
  word-wrap:break-word;
}
#u3185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3185 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:84px;
  width:1100px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  word-wrap:break-word;
}
#u3186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3187_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:576px;
  height:5px;
}
#u3187 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:312px;
  width:573px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3188 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:297px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u3189_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:287px;
  height:5px;
}
#u3189 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:312px;
  width:284px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3190 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:335px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3191 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:335px;
  width:76px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3191_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3192 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:334px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u3193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3193 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:334px;
  width:68px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3194 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:297px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:296px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3196 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:296px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3198_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:576px;
  height:5px;
}
#u3198 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:216px;
  width:573px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3199 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:201px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u3199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3200_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:84px;
  height:5px;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:216px;
  width:81px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:239px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:239px;
  width:76px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3202_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:238px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u3204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:238px;
  width:68px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:201px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:200px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:200px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3209_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:576px;
  height:5px;
}
#u3209 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:407px;
  width:573px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:392px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u3211_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:491px;
  height:5px;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:407px;
  width:488px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:430px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3213 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:430px;
  width:76px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3213_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3214 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:429px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u3215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3215 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:429px;
  width:68px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3216 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:392px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u3217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3217 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:391px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3218 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:391px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3220_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:576px;
  height:5px;
}
#u3220 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:505px;
  width:573px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3221 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:490px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u3222_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:576px;
  height:5px;
}
#u3222 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:505px;
  width:573px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3223 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:528px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3224 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:528px;
  width:76px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3224_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3225 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:527px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u3226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3226 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:529px;
  width:68px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3227 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:490px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u3228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3228 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:492px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3229 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:492px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
