body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:887px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:874px;
}
#u21922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:874px;
}
#u21922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:875px;
}
#u21923 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:427px;
  height:875px;
}
#u21923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
