body {
  margin:0px;
  background-color:rgba(52, 73, 94, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:600px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u4011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:20px;
  width:1148px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:100px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:30px;
  width:169px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4012_img.mouseOver {
}
#u4012.mouseOver {
  opacity:0.8;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:100px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:30px;
  width:129px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
}
#u4013_img.mouseOver {
}
#u4013.mouseOver {
  opacity:0.8;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:125px;
  word-wrap:break-word;
}
#u4014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:84px;
  width:1100px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  word-wrap:break-word;
}
#u4015 {
  position:absolute;
  left:296px;
  top:396px;
}
#u4015_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
  background-image:none;
}
#u4015_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:600px;
  height:25px;
  overflow:hidden;
}
#u4016_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4016_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background:inherit;
  background-color:rgba(243, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 244, 245, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:600px;
  height:10px;
}
#u4017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:600px;
  height:10px;
  overflow:hidden;
}
#u4018_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4018_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u4019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020 {
  position:absolute;
  left:550px;
  top:0px;
  touch-action:none;
}
#u4020_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-image:none;
}
#u4020_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:14px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:14px;
}
#u4021_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(243, 244, 245, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:14px;
}
#u4021.mouseOver {
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4022_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:593px;
  word-wrap:break-word;
}
#u4023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:54px;
  height:40px;
  font-size:14px;
  color:#999999;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u4024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:60px;
  width:49px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u4024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u4025 {
  position:absolute;
  left:296px;
  top:491px;
}
#u4025_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:63px;
  background-image:none;
}
#u4025_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4026 {
  position:absolute;
  left:0px;
  top:43px;
}
#u4026_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:20px;
  background-image:none;
}
#u4026_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background:inherit;
  background-color:rgba(243, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 244, 245, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:10px;
}
#u4027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028 {
  position:absolute;
  left:0px;
  top:5px;
}
#u4028_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background-image:none;
}
#u4028_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u4029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030 {
  position:absolute;
  left:580px;
  top:0px;
  touch-action:none;
}
#u4030_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background-image:none;
}
#u4030_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:0px;
  width:42px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u4033 {
  position:absolute;
  left:296px;
  top:178px;
}
#u4033_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:622px;
  height:105px;
  background-image:none;
}
#u4033_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:40px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u4034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u4035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:65px;
  width:36px;
  height:39px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u4035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u4036 {
  position:absolute;
  left:0px;
  top:43px;
}
#u4036_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:20px;
  background-image:none;
}
#u4036_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:10px;
}
#u4037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038 {
  position:absolute;
  left:0px;
  top:5px;
}
#u4038_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background-image:none;
}
#u4038_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u4039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040 {
  position:absolute;
  left:580px;
  top:0px;
  touch-action:none;
}
#u4040_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background-image:none;
}
#u4040_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:65px;
  height:40px;
  overflow:hidden;
}
#u4042_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4042_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:7px;
  width:50px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u4042_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4042_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u4045 {
  position:absolute;
  left:296px;
  top:281px;
}
#u4045_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:622px;
  height:105px;
  background-image:none;
}
#u4045_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:40px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u4046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u4047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:65px;
  width:36px;
  height:39px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u4047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u4048 {
  position:absolute;
  left:0px;
  top:43px;
}
#u4048_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:20px;
  background-image:none;
}
#u4048_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:10px;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050 {
  position:absolute;
  left:0px;
  top:5px;
}
#u4050_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background-image:none;
}
#u4050_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:10px;
}
#u4051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052 {
  position:absolute;
  left:580px;
  top:0px;
  touch-action:none;
}
#u4052_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background-image:none;
}
#u4052_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:65px;
  height:40px;
  overflow:hidden;
}
#u4054_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4054_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:7px;
  width:50px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u4054_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4054_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
